.top {
    background-color: var(--color-blue);
    text-align: center;
}
.top p {
    font-size: 21px;
    font-weight: 400;
}
.top p span {
    font-weight: 300;
}

.hero {
    width: 100%;
    height: 70vh;
    max-height: 80vh;
}
.hero img {
    width: 100%;
    height: 100%;
}